body{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.title {
    font-family: "Raleway", sans-serif;
    font-size: 33px;
    font-weight: 400;
    letter-spacing: 3px;
    margin: 103px 0 32px;
    padding: 0 0 37px;
    position: relative;
    text-transform: uppercase;
}

.title:after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    margin-left: -10px;
    width: 30px;
    height: 3px;
    background: #617284;
}
h3{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2.5px;
    margin: 12px 0;
    line-height: 26px;
    text-transform: uppercase;
}

a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
}
.description {
    color: #212f44;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    margin: 0 auto 60px;
    max-width: 645px;
}

.blue-background {
    background-color: #f0f4f7;
}

.long-description {
    color: #212f58;
    font-size: 14px;
    font-weight: 400;
}

.short-description{
    color: #212f58;
    font-family: "Open Sans", sans-serif;
}

.btn-blue{
    margin: 0;
    position: absolute;
    right: 15px;
    top: 0;
    border-color: #337ddd;
    background-color: #337ddd;
    color: #fff;
    border-radius: 30px;
    display: inline-block;
    letter-spacing: 1px;
    min-width: 150px;
    padding: 14px;
    text-transform: uppercase;
    vertical-align: top;
}

footer{

}

.clickEinstein-footer{
    background-color: #222222;
    background-repeat: repeat;
    background-position: top center;
    background-image: none !important;
    background-size: cover;
    padding: 105px 0 35px;
}

.clickEinstein-address h3 span, .clickEinstein-happy-hours h3 span {
    color: #fff;
    display: block;
    font-family: "Raleway",sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
    margin: 0 0 18px;
    text-transform: uppercase;
}

.clickEinstein-address p {
    color: #fff;
    margin: 0 0 17px;
}

.clickEinstein-address a {
    color: #fff;
}

.clickEinstein-address p:last-of-type a {
    color: #a5b3c2;
}

.widget-title span {
    color: #FFFFFF;
}

.widget > ul, .widget_nav_menu ul.menu {
    padding: 0;
}
.widget ul {
    list-style: none;
}

.widget.widget_social li {
    display: inline-block;
}

.widget.widget_social li a {
    border-radius: 2px;
    display: block;
    height: 36px;
    padding: 8px 0;
    text-align: center;
    width: 36px;
    margin: 0 10px 10px 0;
}

.widget.widget_social li a i {
    color: #fff;
    font-size: 14px;
}

.clickEinstein-icon-twitter {
    background: #55acef;
}

.clickEinstein-icon-facebook {
    background: #3b5999;
}

.clickEinstein-icon-google-plus {
    background: #dd4a38;
}

.clickEinstein-icon-instagram {
    display: none !important;
    background: #3e729a;
}

.clickEinstein-icon-youtube {
    background: #cc2127;
    display: none !important;
}
.clickEinstein-address .widget-title, .clickEinstein-happy-hours .widget-title {
    margin: 0;
}

.col-xs-6.clickEinstein-footer-menu {
    padding-top: 41px;
    text-align: center;
}

.col-xs-3.clickEinstein-footer-socials {
    padding-top: 35px;
}

.clickEinstein-uptop i {
    font-size: 75px;
}

.clickEinstein-uptop {
    display: inline-block;
    margin: 42px 0 0;
    position: relative;
}

.clickEinstein-uptop::after {
    background: #596873;
    content: "";
    height: 40px;
    left: 48.5%;
    position: absolute;
    top: 65px;
    width: 1px;
}
.pe-7s-angle-up:before {
    content: "\e682";
}

footer .col-xs-12 {
    text-align: center;
}