body{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 30px;
    padding-right: 30px;
}
.title {
    font-family: "Raleway", sans-serif;
    font-size: 33px;
    font-weight: 400;
    letter-spacing: 3px;
    margin: 103px 0 32px;
    padding: 0 0 37px;
    position: relative;
    text-transform: uppercase;
}

.title:after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    margin-left: -10px;
    width: 30px;
    height: 3px;
    background: #617284;
}
h3{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2.5px;
    margin: 12px 0;
    line-height: 26px;
    text-transform: uppercase;
}

a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
}
.description {
    color: #212f44;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    margin: 0 auto 60px;
    max-width: 645px;
}

.blue-background {
    background-color: #f0f4f7 !important;
}

.long-description {
    color: #212f58;
    font-size: 14px;
    font-weight: 400;
}

.short-description{
    color: #212f58;
    font-family: "Open Sans", sans-serif;
}

.btn-blue{
    margin: 0;
    margin-top: 15px;
    right: 15px;
    top: 0;
    border-color: #337ddd;
    background-color: #337ddd;
    color: #fff;
    border-radius: 30px;
    display: inline-block;
    letter-spacing: 1px;
    min-width: 150px;
    padding: 14px;
    text-transform: uppercase;
    vertical-align: top;
}

.btn-blue:hover{
    color: #fff;
    background-color: #0d46dd !important;
}

.padding-bottom-45 {
    padding-bottom: 45px;
}
.margin-bottom-45{
    margin-bottom: 45px;
}
.click-icon {
    border: 2px solid #F0F4F7;
    border-radius: 50%;
    height: 80px;
    line-height: 80px;
    text-align: center;
    width: 80px;
    left: 0;
    position: absolute;
    top: 0;
    color: #212f44;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 2.5px;
}


.click-icon i {
    font-size: 38px;
    color: #337ddd;
    padding-top: 18px;
    padding-left: 3px;
}

.key-point:hover div .click-icon{
    background-color: #337ddd;
}

.key-point:hover div .click-icon i {
    color: #ffffff;
}

.details span{
    display: block;
    margin: 26px 0 15px;
    color: #212f44;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 2.5px;
    line-height: 30px;
    text-transform: uppercase;
    font-family: Open Sans;
}

.details p {
    line-height: 24px;
    margin: 0 0 24px;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    color: #69778c;
}

.padding-sides-30 {
    padding-left: 30px;
    padding-right: 30px;
}

p {
    line-height: 24px;
    margin: 0 0 24px;
}

img {
    max-width: 100%;
    height: auto;
}
footer{

}

footer .row:ficlickEinstein-of-type {
    margin-bottom: 40px;
}

.clickEinstein-footer{
    background-color: #222222;
    background-repeat: repeat;
    background-position: top center;
    background-image: none !important;
    background-size: cover;
    padding: 105px 0 35px;
}

.clickEinstein-address h3 span, .clickEinstein-happy-hours h3 span {
    color: #fff;
    display: block;
    font-family: "Raleway",sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
    margin: 0 0 18px;
    text-transform: uppercase;
}

.clickEinstein-address p {
    color: #fff;
    margin: 0 0 17px;
}

.clickEinstein-address a {
    color: #fff;
}

.clickEinstein-address p:last-of-type a {
    color: #a5b3c2;
}

.widget-title span {
    color: #FFFFFF;
}

.widget > ul, .widget_nav_menu ul.menu {
    padding: 0;
}
.widget ul {
    list-style: none;
}

.widget.widget_social li {
    display: inline-block;
}

.widget.widget_social li a {
    border-radius: 2px;
    display: block;
    height: 36px;
    padding: 8px 0;
    text-align: center;
    width: 36px;
    margin: 0 10px 10px 0;
}

.widget.widget_social li a i {
    color: #fff;
    font-size: 14px;
}

.clickEinstein-index-banner-content .btn:hover,
.clickEinstein-page-shortdescription.clickEinstein-dark
.btn:hover, .btn, .btn:hover, .btn2,
.widget.widget_tag_cloud
.tagcloud a:hover {
    border-color: #337ddd;
}

.clickEinstein-icon-twitter {
    background: #55acef;
}

.clickEinstein-icon-facebook {
    background: #3b5999;
}

.clickEinstein-icon-google-plus {
    background: #dd4a38;
}

.clickEinstein-icon-instagram {
    display: none !important;
    background: #3e729a;
}

.clickEinstein-icon-youtube {
    background: #cc2127;
    display: none !important;
}
.clickEinstein-address .widget-title, .clickEinstein-happy-hours .widget-title {
    margin: 0;
}



.col-xs-6.clickEinstein-footer-menu {
    padding-top: 41px;
    text-align: center;
}

.col-xs-3.clickEinstein-footer-socials {
    padding-top: 35px;
}

.clickEinstein-uptop i {
    font-size: 75px;
}

.clickEinstein-uptop {
    display: inline-block;
    margin: 42px 0 0;
    position: relative;
}

.clickEinstein-uptop::after {
    background: #596873;
    content: "";
    height: 40px;
    left: 48.5%;
    position: absolute;
    top: 65px;
    width: 1px;
}
.pe-7s-angle-up:before {
    content: "\e682";
}

footer .col-xs-12 {
    text-align: center;
}

.fbstart {
    padding-top: 15px;
}

.group-title{
    text-align: center;
}


.group-title span {
    color: #212f44;
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-size: 33px;
    font-weight: 400;
    letter-spacing: 3px;
    margin: 103px 0 32px;
    padding: 0 0 37px;
    position: relative;
    text-transform: uppercase;
}

.group-title span:after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    margin-left: -10px;
    width: 20px;
    height: 3px;
    background: #617284;
}

.group-title > p {
    color: #69778c;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    margin: 0 auto 60px;
    max-width: 645px;
}

.clickeinstein-page-input, #clickeinstein-coming-page input[type="text"] {
    border: 0;
    margin: 0 0 30px;
    padding: 12px 0;
    width: 100%;
    border-bottom: 2px solid #f0f4f7;
    color: #223040;
    background: transparent;
}

input, textarea, select, button {
    border-radius: 0;
    outline: none;
}

.clickeinstein-contactsubmit {
    margin: 0 0 140px;
    text-align: center;
}

.btn.btn-sm, .btn-group-sm > .btn {
    font-size: 12px;
    line-height: 1.5;
    min-width: 140px;
    padding: 10px;
}

.clickeinstein-header-menu nav li li:hover,
.clickeinstein-page li.active a, .clickeinstein-page li a:hover,
.clickeinstein-homewelcome-tabs .clickeinstein-video a,
.clickeinstein-home2 .clickeinstein-whoweare li i:hover, .clickeinstein-index-banner-content .btn:hover,
.clickeinstein-page-shortdescription.clickeinstein-dark
.btn:hover, .col-xs-3.clickeinstein-footer-socials a:hover,
.clickeinstein-box-info-2:hover i, .clickeinstein-boxinfo-style-1:hover span.clickeinstein-icon,
.btn, .btn:hover, .btn2, #submit, .clickeinstein-page span,
.progress-bar-success, .clickeinstein-video a, .clickeinstein-style i:hover, .widget.widget_calendar table th,
.widget.widget_calendar table tbody td#today, .widget.widget_tag_cloud .tagcloud a:hover,
#clickeinstein-coming-page input[type="submit"] {
    background-color: #337ddd;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -ms-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}

.btn, #submit {
    color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.btn, #submit, #rst-coming-page input[type="submit"] {
    border-radius: 30px;
    display: inline-block;
    letter-spacing: 1px;
    min-width: 150px;
    padding: 14px;
    text-transform: uppercase;
    vertical-align: top;
}
